# Q1

In [1]:
my_name = "Christina Ward"

In [2]:
print(my_name)

Christina Ward

# Q2

In [3]:
my_id = 193485

In [4]:
print(my_id)

193485

# Q3

In [5]:
my_id_str = "193485"

In [6]:
print(my_id_str)

193485

# Q4

In [9]:
my_name + my_id

TypeError: must be str, not int

#### Cannot add, one is an integer and one is a string

# Q5

In [10]:
my_name + my_id_str

'Christina Ward193485'

# Q6

In [40]:
"hello, world. This is my first python string.".split(".")

['hello, world', ' This is my first python string', '']

# Q7

In [23]:
str_list = ["a","b","c","d","e"]
str_list.sort()

In [24]:
print(str_list)

['a', 'b', 'c', 'd', 'e']

# Q8

In [25]:
str_list.append("f")

In [26]:
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Q9

In [27]:
str_list.remove("d")

In [28]:
print(str_list)

['a', 'b', 'c', 'e', 'f']

# Q10

In [29]:
str_list[2]

'c'

# Q11

In [30]:
num_list = [12,32,43,35]
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# Q12

In [33]:
my_dict = {"name":"Christina", "id":my_id}
print(my_dict)

{'name': 'Christina', 'id': 193485}

# Q13

In [34]:
my_dict["name"]="Ward"
print(my_dict)

{'name': 'Ward', 'id': 193485}

# Q14

In [35]:
my_dict.get("id")

193485

# Q15

In [37]:
my_dict["id"]="153535"
print(my_dict)

{'name': 'Ward', 'id': '153535'}

# Q16

In [41]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'Ward', 'id': '153535', 'num_list': [12, 32, 43, 35]}

Added num_list to dictionary